# -*- coding: utf-8 -*-
######################################################
# Author: SVAKSHA, Sunday 20 July 2014 11:10:11 AM IST 
######################################################

#====================================================
# GENERAL
#====================================================
MANIFEST
IGNORE/

#====================================================
# IPYTHON Notebooks
#====================================================
.ipynb_checkpoints/*

#====================================================
# PYTHON PACKAGES
#====================================================
__pycache__
*.egg
*.egg-info
*.pyc
*.pyo
*.swp
*.py[cod]
*~
.installed.cfg
bin
build
develop-eggs
dist
eggs
include
lib
lib64
parts
sdist
var


#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore


#====================================================
# DATABASE
#====================================================
*.sql
*.sqlite
config/databases.yml
cache

#====================================================
# C extensions
#====================================================
*.so


#====================================================
# Mr Developer
#====================================================
.mr.developer.cfg
.project
.pydevproject

#====================================================
# OS JUNK FILES
#====================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


#====================================================
# EDITOR: Vi
#====================================================
*.swp


